{
  "extends": ["standard"],
  "rules": {
    "indent": ["error", 4],
    "quotes": ["error", "double"],
    "no-unused-vars": 0,
    "prefer-const": "error",
    "no-unmodified-loop-condition": "off"
  }
}
